$mainBGC:#fff;
$mainFont: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$headerBGC: url(../img/header_background_v1.jpg);
$menuColor: #fff;
$borderColor: gray;
$btnColor: rgb(41, 184, 172);
$articleBGC: rgb(219, 216, 216);
$postDescColor: rgb(223, 28, 28);
$postHeaderColor: rgb(41, 184, 172);
$postMainColor: #000;
$aboutColor: rgb(41, 184, 172);