$mainBGC:rgb(219, 216, 216);
$mainFont: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$fontSize: 18px/26px;
$headerBGC: url(../img/header_background_v2.jpg);
$menuColor: red;
$borderColor: rgb(156, 156, 156);
$btnColor: rgb(9, 9, 199);
$articleBGC: #fff;
$postDescColor: rgb(219, 216, 216);
$postHeaderColor: rgba(99, 114, 113, 0.938);
$postMainColor: rgb(131, 131, 131);
$aboutColor: rgba(99, 114, 113, 0.938);